body{

margin:0;

font-family:Segoe UI;

background:#f5f7fb;

}

.sidebar{

width:85px;

background:white;

box-shadow:0 0 15px rgba(0,0,0,.1);

display:flex;

flex-direction:column;

align-items:center;

padding-top:25px;

}

.logo{

color:#198754;

margin-bottom:35px;

}

.sidebar ul{

list-style:none;

padding:0;

width:100%;

}

.sidebar li{

height:60px;

display:flex;

align-items:center;

justify-content:center;

font-size:22px;

cursor:pointer;

transition:.3s;

}

.sidebar li:hover{

background:#198754;

color:white;

}

.sidebar .active{

background:#198754;

color:white;

}

.dashboard-card{

border:none;

border-radius:15px;

box-shadow:0 10px 20px rgba(0,0,0,.08);

transition:.3s;

}

.dashboard-card:hover{

transform:translateY(-5px);

}